Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [33]:
a='john@google.com'
a[a.index('@')+1:a.index('.com')]

'google'

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [34]:
a='without,hello,bag,world'
a=a.split(',')
a=sorted(a)
print(",".join(a))

bag,hello,without,world

Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [49]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)
thisset = {"apple", "banana", "cherry"}
print(len(thisset))
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)
thisset = {"apple", "banana", "cherry"}
del thisset
print("thisset is deleted")
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'cherry', 'apple', 'banana'}
cherry
apple
banana
True
{'cherry', 'orange', 'apple', 'banana'}
{'apple', 'orange', 'cherry', 'grapes', 'mango', 'banana'}
3
{'cherry', 'apple'}
{'cherry', 'apple'}
cherry
{'apple', 'banana'}
set()
thisset is deleted
{1, 'a', 2, 3, 'c', 'b'}
{1, 'a', 2, 3, 'c', 'b'}
{'cherry', 'apple', 'banana'}
{'apple'}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [50]:
a=[1,2,3,4,6,7,8]
for i in range(a[-1]):
  if(i+1 not in a):
    print(i+1)

5

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [53]:
a=[12,24,35,24]
sorted(list(set(a)))

[12, 24, 35]